{% extends 'base.html.twig' %}

{% block title %}Nuevo sector{% endblock %}

{% block body %}
    <h1>Crear nuevo Sector</h1>


<div class="container col-6 mx-auto ">
    {{ include('sector/_form.html.twig') }}
    <a class="btn btn-danger mt-3" href="{{ path('sector_index') }}">Cancelar</a>

</div>



{% endblock %}
