<nav class="navbar navbar-expand-sm  bg-dark text-light">
    <div class="container">
        <div class="navbar-brand">Prueba symfony</div>
        <div class="navbar-nav">    
            <ul class="navbar-nav ml-auto">
                <a class="nav-item nav-link text-light" href="{{ path('landing_page') }}">Inicio</a>
                <a class="nav-item nav-link text-light" href="{{ path('empresa_index') }}">Empresas</a>
                <a class="nav-item nav-link text-light" href="{{ path('sector_index') }}">Sectores</a>
            </ul> 
        </div>
    </div>
</nav>