{% extends 'base.html.twig' %}

{% block title %}Nueva Empresa{% endblock %}

{% block body %}
<div class="container col-6 mx-auto ">
    <h1>Crear nueva empresa</h1>

    {{ include('empresa/_form.html.twig') }}
    <a class="btn btn-danger mt-3" href="{{ path('empresa_index') }}">Cancelar</a>

</div>


    {# display sectors
    {% for sec in sector %}
    <h1>Id:{{ sec.id }}, nombre: {{ sec.nombreSector }}</h1>
        
    {% endfor %} #}
{% endblock %}
